<%= form_for setup_automation(@automation), html: { class: 'form-inline' } do |f| %>
  <% if @automation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@automation.errors.count, "error") %> prohibited this automation from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @automation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class='row mb-10'>
    <div class='col-md-8'>
      <div class='form-group name'>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <%=f.error_span(:name) %>
      </div>
    </div>
    <div class='col-md-2'>
      <div class= 'form-group'>
        <%= f.label :browser_type %>
        <%= f.select :browser_type, options_for_browser_types, include_blank: false %>
      </div>
    </div>
    <div class='col-md-2'>
      <div class='checkbox'>
        <label>
          <%= f.check_box :active %> Active
          <%=f.error_span(:active) %>
        </label>
      </div>
    </div>
  </div>

  <h2>Procedures</h2>
  <hr>
  <%= f.fields_for :procedures do |t| %>
    <div class='row mb-10'>
      <div class='col-md-2'>
        <div class='form-group position'>
          <%= t.label :position %>
          <%= t.text_field :position, class: 'form-control' %>
        </div>
      </div>
      <div class='col-md-8'>
        <div class="form-group script <%= 'wrong' if t.object.broken %>">
          <%= t.label :script %>
          <%= t.text_field :script, class: 'form-control' %>
        </div>
      </div>

      <% if t.object.persisted? %>
        <div class='col-md-2'>
          <div class='checkbox'>
            <label>
              <%= t.check_box :_destroy %> Cut
            </label>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <br>

  <div class="form-group">
    <div class="col-lg-offset-6 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                automations_path, class: 'btn btn-default' %>
    </div>
  </div>

<% end %>
