<%- model_class = Automation -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:data) %></th>
      <th><%= model_class.human_attribute_name(:browser_type) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', default: t('helpers.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @automations.each do |automation| %>
      <tr>
        <td><%= automation.id %></td>
        <td><%= automation.name %></td>
        <td><%= I18n.t("enums.booleans.#{automation.active}") %></td>
        <td>
          <%= render :partial => 'related_procedures', locals: { automation: automation } %>
        </td>
        <td> <%= I18n.t("enums.browser_types.#{automation.browser_type}") %> </td>
        <td><%=l automation.created_at.to_date %></td>
        <td>
          <%= link_to t('.execute'), automation_execute_path(automation),
                      method: :post,
                      class: 'btn btn-success btn-xs',
                      disabled: !automation.active? %>
          <%= link_to t('.edit'), edit_automation_path(automation), class: 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy'),
                      automation_path(automation),
                      method: :delete,
                      data: { confirm: t('.confirm', default: t('helpers.links.confirm', default: 'Are you sure?')) },
                      class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
