<%- model_class = Category -%>
<div class="page-header">
  <h1><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:color) %></th>
      <th><%= model_class.human_attribute_name(:priority) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td style="color: <%= category.color %>;"><%= category.color %></td>
        <td><%= category.priority %></td>
        <td>
          <%= link_to t('.edit'), edit_category_path(category), class: 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy'),
                      category_path(category),
                      method: :delete,
                      data: { confirm: t('.confirm', default: t('helpers.links.confirm', default: 'Are you sure?')) },
                      class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="span9 centred">
  <div class="form-group button">
    <%= link_to t('.return', default: t("helpers.links.return")),
              automations_path, class: 'btn btn-default' %>
  </div>
</div>
